

<ion-view view-title="Create User">

    <ion-nav-bar class="bar bar-dark">
            <h1 class="title">Create User</h1>
                <ion-nav-back-button>Back
                </ion-nav-back-button>
    </ion-nav-bar>
<!--     <ion-header-bar class="bar bar-header bar-dark">

    </ion-header-bar> -->
    <ion-content>

        <form class="item no-pad"   ng-submit="newUser()">
            <label class="item item-input">
                <input type="text" placeholder="Full Name" ng-model="user.name">
            </label>

            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="user.email">
            </label>

            <label class="item item-input">
                <input type="text" placeholder="Password" ng-model="user.password">
            </label>

            <label class="item item-input">
                <input type="text" placeholder="Phone Number" ng-model="user.telephone">
            </label>
            <button type="submit" class="button button-block button-dark cancel-overflow">
                Create!
            </button>

          <!--   <button ng-click="backToStart()" class="button button-block button-dark cancel-overflow">
                Cancel
            </button> -->
        </form>
    </ion-content>
</ion-view>
