<ion-view view-title="Login">
  <ion-header-bar class="bar bar-header bar-dark">
    <button ng-click="backToStart()" class="button back-button buttons button-clear header-item">
      <i class="icon ion-chevron-left"></i>
      <span style="transform: translate3d(0px, 0px, 0px); color: white;">Back</span>
    </button>
    <h1 class="title">Free For Everyone</h1>
  </ion-header-bar>

  <ion-content>
    <form class="item no-pad">
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="user.email">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Password" ng-model="user.password">
      </label>

      <button ng-click="submit_login()" class="button button-block button-dark cancel-overflow">
        Log In
      </button>
    </form>
  </ion-content>
</ion-view>
