<ion-view view-title="Profile">
    <ion-header-bar align-title="center" class="bar-light">
        <button ng-click="backToHome()"
                class="button button-dark back-button buttons button-clear header-item">
            <i class="icon ion-chevron-left"></i>
            <span class="back-text" style="transform: translate3d(0px, 0px, 0px);">Back</span>
        </button>
        <h1 class="title">Free for Everyone</h1>
        <button class="button button-clear cancel-overflow icon" ng-class="{'ion-compose': showListings, 'ion-plus': showWishlist}" ng-click="openModal()"></button>
    </ion-header-bar>

    <ion-content>
        <!--<div class="card-wrapper1">-->
        <!--<div class="card xcard1">-->
        <div class="button-bar padding">
            <a class="button button-dark button-outline" ng-class="{'active': showListings}"
               ng-click="show_listings()">
                <p>My Listings</p>
            </a>
            <a class="button button-dark button-outline" ng-class="{'active': showWishlist}"
               ng-click="show_wishlist()">
                <p>My Wishlist</p>
            </a>
        </div>

        <!--<ion-scroll class="xcard1scroll">-->
        <div class="card card-wrapper2 padding" ng-show="showListings">

            <ion-scroll class="xcard2scroll">
                <!--<ion-refresher-->
                        <!--pulling-text="Pull to refresh..."-->
                        <!--on-refresh="doRefresh()">-->
                <!--</ion-refresher>-->

                <ion-list class="list"
                          show-delete="shouldShowDelete"
                          show-reorder="shouldShowReorder"
                          can-swipe="listCanSwipe">
                    <ion-item class="item-thumbnail-left" ng-repeat="listing in listings" ng-click="modifyItem(listing)">
                        <!--<div class="item item-body">-->
                        <!--<button class="button"><i class="icon ion-close"></i></button>-->
                        <h4>Posted: {{listing.time}}</h4>

                        <h2><b>{{listing.title}}</b></h2>

                        <h3>{{listing.description}}</h3>
                        <label>
                            <a class="subdued">5 interested</a>
                        </label>

                        <ion-option-button class="button-assertive"
                                           ng-click="delete_listing(listing)">
                            Delete
                        </ion-option-button>
                        <!--</div>-->
                    </ion-item>
                    <!--<div class="item tabs tabs-secondary tabs-icon-left">-->
                    <!--<a class="tab-item" href="#">-->
                    <!--<i class="icon ion-ios-star-outline"></i>-->
                    <!--Favorite-->
                    <!--</a>-->
                    <!--</div>-->

                </ion-list>

            </ion-scroll>
        </div>


        <div class="card card-wrapper2" ng-show="showWishlist" >
            <div class="list" ng-show="showAdd">
              <div class="item item-input-inset">
                <label class="item-input-wrapper">
                  <input type="text" placeholder="Enter a tag." ng-model="newWish">
                </label>
                <button class="button button-dark button-small" ng-click="addTag(newWish)">
                  Submit
                </button>
              </div>
            </div>
            <ion-scroll class="xcard2scroll">

                <ion-refresher
                        pulling-text="Pull to refresh..."
                        on-refresh="doRefresh()">
                </ion-refresher>

                <ion-list class="list"
                          show-delete="shouldShowDelete"
                          show-reorder="shouldShowReorder"
                          can-swipe="listCanSwipe">
                    <ion-item ng-repeat="wish in wishlist">
                        <!--<div class="item item-body">-->
                        <!--<button><i class="icon ion-close"></i></button>-->

                        <h2><b>{{wish.title}}</b></h2>

                        <ion-option-button class="button button-assertive" ng-click="delete_wish(wish)">
                            Delete
                        </ion-option-button>
                        <!--</div>-->
                    </ion-item>
                    <!--<div class="item tabs tabs-secondary tabs-icon-left">-->
                    <!--<a class="tab-item" href="#">-->
                    <!--<i class="icon ion-ios-star-outline"></i>-->
                    <!--Favorite-->
                    <!--</a>-->
                    <!--</div>-->

                </ion-list>
            </ion-scroll>
        </div>
    </ion-content>
</ion-view>
