<ion-tabs class="tabs-color-dark tabs-background-stable tabs-icon-only" >

  <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <!--
  <ion-tab title="Search" icon-on="ion-search" icon-off="ion-search" href="#/tab/search">
      <ion-nav-view name ="search-tab"></ion-nav-view>
  </ion-tab>
  -->

  <ion-tab title="Furniture" icon-on="ion-arrow-swap" icon-off="ion-arrow-swap" href="#/tab/furniture">
    <ion-nav-view name ="furniture-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="electronics" icon-on="ion-person" icon-off="ion-person" href="#/tab/electronics">
    <ion-nav-view name ="electronics-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>
