<!--<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light" >-->

    <!--<ion-tab title="Food" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/tab/food">-->
        <!--<ion-nav-view name="food-tab"></ion-nav-view>-->
    <!--</ion-tab>-->

    <!--&lt;!&ndash;-->
    <!--<ion-tab title="Search" icon-on="ion-search" icon-off="ion-search" href="#/tab/search">-->
        <!--<ion-nav-view name ="search-tab"></ion-nav-view>-->
    <!--</ion-tab>-->
    <!--&ndash;&gt;-->

    <!--<ion-tab title="Profile" icon-on="ion-arrow-swap" icon-off="ion-arrow-swap" href="#/tab/profile">-->
        <!--<ion-nav-view name ="profile-tab"></ion-nav-view>-->
    <!--</ion-tab>-->

    <!--<ion-tab title="Electronics" icon-on="ion-person" icon-off="ion-person" href="#/tab/electronics">-->
        <!--<ion-nav-view name ="electronics-tab"></ion-nav-view>-->
    <!--</ion-tab>-->
<!--</ion-tabs>-->
