<ion-view view-title="">
    <ion-header-bar class="bar-stable">
        <div class="buttons">
            <a class="button button-clear icon ion-close" ng-click="listing_details_modal.hide()"></a>
        </div>
        <h1 class="title">Details</h1>
    </ion-header-bar>
    <ion-content class="listing">
        <div class="list card">

            <div class="item">
                <span>Title:</span>
                <span>{{selected_item.title}}</span>
            </div>

            <div class="item">
                <img id="item-img" ng-src="{{selected_item.img}}">
            </div>

            <div class="item item-floating-label">
                <a class="ion-ios-location">&nbsp{{selected_item.location}}</a>
                <a class="ion-android-favorite" id="item-likes" ng-click="">&nbsp{{selected_item.likes}}</a>
            </div>

            <div class="item">
                <span>Category:</span>
                <span>{{selected_item.category}}</span>
            </div>

            <div class="item item-text-wrap">
                <span>Description:</span>
                <span>{{selected_item.description}}</span>
            </div>

            <div class="item">
                <span>Tags:</span>

                <div ng-repeat="tag in selected_item.tags">
                    <span>{{tag}}</span>
                </div>
            </div>

            <div class="item">
                <span>Contact:</span>
                <span>{{selected_item.contact}}</span>
            </div>

             <button ng-click="submitInterest()" class="button button-block button-dark cancel-overflow">
                I'm interested!
            </button>

        </div>
    </ion-content>
</ion-view>
