<ion-modal-view title="Post Listing" class="listing">
    <ion-header-bar class="bar-stable">
        <div class="buttons">
            <a class="button button-clear icon ion-close" ng-click="modify_listing_modal.hide()"></a>
        </div>
        <h1 class="title">Your Item</h1>
        <div class="buttons">
            <a class="button button-clear button-dark cancel-overflow"
               ng-click="updateItem(selectedItem)"><strong>Modify</strong></a>
        </div>
    </ion-header-bar>
    <!--<ion-nav-bar class="bar-stable">-->
    <!--<ion-nav-buttons side="left">-->
    <!--<h1 class="title" id="green_title">Details</h1>-->
    <!--</ion-nav-buttons>-->
    <!--</ion-nav-bar>-->

    <ion-content class="has-header">
        <div class="list card">
            <div class="item">
                <img id="item-img" src="http://www.portableone.com/images/macbook-pro-for-college.jpg">
            </div>

            <form class="item no-pad">
                <label class="item item-input item-select">
                    &nbsp
                    <select ng-model="selectedItem.category" ng-show="selectedItem.category== 1">
                        <option value="1" selected>Furniture</option>
                        <option value="2">Food</option>
                        <option value="3">Electronic</option>
                    </select>
                    <select ng-model="selectedItem.category" ng-show="selectedItem.category== 2">
                        <option value="1">Furniture</option>
                        <option value="2" selected>Food</option>
                        <option value="3">Electronic</option>
                    </select>
                    <select ng-model="selectedItem.category" ng-show="selectedItem.category== 3">
                        <option value="1">Furniture</option>
                        <option value="2">Food</option>
                        <option value="3" selected>Electronic</option>
                    </select>
                </label>

                <label class="item item-input">
                    <input type="text" placeholder="Title" ng-model="selectedItem.title">
                </label>

                <label class="item item-input">
                    <input type="text" placeholder="Description" ng-model="selectedItem.description">
                </label>

                <label class="item item-input">
                    <input type="text" placeholder="Tags" ng-model="selectedItem.tags">
                </label>

                <label class="item item-input">
                    <input type="text" placeholder="Contact Information" ng-model="selectedItem.contact">
                </label>

                <label class="item item-input">
                    <input type="text" placeholder="Location" ng-model="selectedItem.location">
                </label>
            </form>
        </div>
    </ion-content>

</ion-modal-view>
