.listing #item-img {
  width: 100%;
}

.listing .no-pad {
  padding: 0px 0px 0px 0px;
}

.listing #new-post-title {
  text-align: center;
}

.listing #create-button-title {
  text-align: center;
  color: white;
}

.listing #location text {

}

.listing #item-likes {
  position: absolute;
  right: 0;
  padding-right: 16px;
}

